/*
-----------------------------------------------
procsstechniques.com IE6 styles
author: dan rubin
edited: 2008-08-22
----------------------------------------------- */

#sidebar {
    background-image: none;
}
